.widget {
    background-color: azure;
    border: 5px solid black;
}

.widget_2_component {
    display: grid;
    grid: auto / 200px auto;
    padding: 10px;
    margin: 10px;
}

.row_item{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    display:grid;
    grid: 100px / 25% 25% 25% 25%;
    margin: 5px;
}

.column_item {
    width: auto;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px;
}

.row_image {
    height: 90px;
}